<aside class="sidebar">
    <div class="logo-area">
        <div class="logo">MEDI<span>TEK</span></div>
        <div class="badge-clinic">clinic+</div>
    </div>

    <div class="nav-links">
        <button onclick="window.location.href='../dashboard-cita.html'">
            📊 Dashboard
        </button>

        <button onclick="window.location.href='../dashboard-cita.html'">
            📅 Agendar cita
        </button>

        <button onclick="window.location.href='../pages/historial.html'">
            📁 Historial Médico
        </button>

        <button onclick="window.location.href='../pages/perfil.html'">
            👤 Perfil Usuario
        </button>
    </div>

    <div style="margin-top: auto; font-size: 0.7rem; color:#8fbbd4; padding-top: 1rem;">
        v. cuidados de salud
    </div>
</aside>